@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Reset */
p, h1, h2, h3 {
    margin: 0;
}

body {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

/* Main CSS */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#COLORS {
 /* ## Colors */
    /* ### Primary */
    /* - Red */
    color: hsl(0, 78%, 62%);

    /* - Cyan */
    color: hsl(180, 62%, 55%);

    /* - Orange */
    color: hsl(34, 97%, 64%);

    /* - Blue */
    color: hsl(212, 86%, 64%);

    /* ### Neutral */
    /* - Very Dark Blue */
    color: hsl(234, 12%, 34%);

    /* - Grayish Blue */
    color: hsl(229, 6%, 66%);

    /* - Very Light Gray */
    color: hsl(0, 0%, 98%);
}
